<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <title>{% block title %}Music Epta{% endblock %}</title>
</head>
<body>
    <header class="header">
        {% include 'navbar.html' %}
    </header>
    <h1 style="text-align: center; margin-top: 20px">Choose a Text Color for the Site</h1>
    <button style="margin-left: 600px" type="button" class="btn btn-dark" onclick="changeTextColor('#FF5733')">Red</button>
    <button type="button" class="btn btn-dark" onclick="changeTextColor('#1E90FF')">Blue</button>
    <button type="button" class="btn btn-dark" onclick="changeTextColor('#47C131')">Green</button>
    <button type="button" class="btn btn-dark" onclick="changeTextColor('#FFD700')">Yellow</button>

    <script>
        function changeTextColor(color) {                       // Цей рядок зберігає вибраний колір тексту в локальному сховищі браузера
            localStorage.setItem('siteTextColor', color);       // setItem('siteTextColor', color);: ця команда зберігає значення кольору (color) під ключем 'siteTextColor'
            applyTextColor(color);                              // після натиску на кнопку зміни кольору викликається функція "changeTextColor(color)" після чого колір зберігається в 'localStorage', одразу після збереження викликається функція яка змінює колір всього тексту
        }

        function applyTextColor(color) {
            document.body.style.color = color;                  // зміна тексту для всього <body>
            const allElements = document.querySelectorAll('*'); // *=вибір всіх елементів
            allElements.forEach(element => {                    // Цей рядок проходить через всі елементи, знайдені на сторінці, і змінює їхній колір тексту на заданий. Метод forEach() виконує вказану функцію для кожного елемента в списку allElements
                element.style.color = color;
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            const savedColor = localStorage.getItem('siteTextColor'); // Отримує збережений колір з локального сховища
            if (savedColor) {
                applyTextColor(savedColor);                     // Якщо колір знайдено, застосовує його до тексту на сторінці
            }
        });
    </script>
</body>
</html>
