<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <title>{% block title %}Music Epta{% endblock %}</title>
</head>
<body>
    <header class="header">
        {% include 'navbar.html' %}
    </header>
    <h1 style="text-align: center; margin-top: 20px">Choose a Text Color for the Site</h1>
    <button style="margin-left: 600px" type="button" class="btn btn-dark" onclick="changeTextColor('#FF5733')">Red</button>
    <button type="button" class="btn btn-dark" onclick="changeTextColor('#1E90FF')">Blue</button>
    <button type="button" class="btn btn-dark" onclick="changeTextColor('#47C131')">Green</button>
    <button type="button" class="btn btn-dark" onclick="changeTextColor('#FFD700')">Yellow</button>

    <script>
        function changeTextColor(color) {                       
            localStorage.setItem('siteTextColor', color);       
            applyTextColor(color);                              
        }

        function applyTextColor(color) {
            document.body.style.color = color;                  
            const allElements = document.querySelectorAll('*'); 
            allElements.forEach(element => {                    
                element.style.color = color;
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            const savedColor = localStorage.getItem('siteTextColor'); 
            if (savedColor) {
                applyTextColor(savedColor);                     
            }
        });
    </script>
</body>
</html>
