<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/upload.css">
    <title>Add Track</title>
</head>

<body>
    {% include 'navbar.html' %}
    </header>

    <div class="container">
        <h2>Додайте новий трек!</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label for="title">Назва:</label>
            <input type="text" id="title" name="title" placeholder="Enter track title" required>

            <label for="artist">Автор:</label>
            <input type="text" id="artist" name="artist" placeholder="Enter artist name" required>

            <label for="file">Оберіть файл:</label>
            <input type="file" id="file" name="file" accept=".mp3,.wav" required>

            <button type="submit">Завантажити</button>
        </form>
        <a class="back-link" href="/">Назад</a>
    </div>
</body>

</html>